<div id="page-content">
<h1 class="text-center mt-4">Articles listing page</h1>

<div class= "container">
<% @articles.each do |article| %>
    <div class="row justify-content-md-center">
    <div class="col-9 mt-2">
    <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
            by Jan Walczak
        </div>
        <div class="card-body">
            <h5 class="card-title"><strong><%= link_to article.title, article_path(article.id), class: "articles-colors" %></strong></h5>
            <p class="card-text"><%= truncate(article.description, length: 50) %></p>
            <a href="#" class="btn-art btn-outline-success ">View</a>
            <a href="#" class="btn-art btn-outline-info">Edit</a>
            <a href="#" class="btn-art btn-outline-danger">Delete</a>
        </div>
        <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(article.created_at) %> ago,
            edited <%= time_ago_in_words(article.updated_at) %> ago</small>
        </div>
    </div>
    </div>
    </div>
<% end %>
</div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center text-white">
        <small>Copyright &copy; <%= link_to "Jan Walczak", root_path, class: "text-white" %></small>
    </div>
</footer>