<div id="page-content">
<h1 class="text-center mt-4">Create a new category</h1>

<div class="container" id="edittt">

<%= render 'shared/errors', object: @category %>


<%= form_with(model: @category, class: "shadow-lg p-4 mb-3 bg-#6200b3 rounded", local: true) do |f| %>

    <div class="form-group row">
        <%= f.label :name, "Name", class: "col-2 col-form-label font-weight-bold" %>
        <div class="col-10">
        <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "category name" %>
        </div>
    </div>

    <div class="form-group row justify-content-center">
        <%= f.submit class: "btn btn-outline-dark btn-lg"%>
    </div>
<% end %>
<p class="row justify-content-center mb-3">
<%= link_to '[ Cancel and return to articles listings ]', articles_path(), class: "text-dark" %>
</p>

</div>


</div>